<%= form_for(@user) do |f| %>
  名前
  <%= f.text_field :name %>
  <!-- <input name="name" type="text"> -->

  年齢
  <!-- <input name="age" type="text"> -->
  <%= f.text_field :age %>

  性別
  <!-- <select name="gender"> -->
  <!-- <option>男</option> -->
  <!-- <option>女</option> -->
  <!-- </select> -->
  <%= f.select :gender, ["男","女"] %>

  説明
  <!-- <textarea name="description"></textarea> -->
  <%= f.text_area :description %>
  <!-- <input type="submit" value="新規登録"> -->
  <%= f.submit "新規登録" %>
<% end %>