<div class="form-group col-sm-3">
  <%= f.label :name, "名前" %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group col-sm-1">
  <%= f.label :age, "年齢" %>
  <%= f.text_field :age, class: "form-control" %>
</div>

<div col-sm-2">
  性別
  <%= f.radio_button :gender, "男" %>
  <%= f.label :gender_1, "男" %>
  <%= f.radio_button :gender, "女" %>
  <%= f.label :gender_2, "女" %>
</div>

<div class="form-group col-sm-3">
  <%= f.label :password, "パスワード" %>
  <%= f.text_field :password, class: "form-control" %>
</div>

<div class="form-group col-sm-1">
  <%= f.label :administrator, "管理者" %>
  <%= f.check_box :administrator, {}, "on", "off" %>管理者
</div>