<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">支払日</th>
      <th scope="col">精算者</th>
      <th scope="col">種類</th>
      <th scope="col">摘要</th>
      <th scope="col">金額</th>
    </tr>
  </thead>
  <% @costs.each do |cost| %>
  <tbody>
    <tr>
      <th scope="row"><%= cost.day %></th>
      <td><%= cost.user.name %></td>
      <td><%= cost.subject.name %></td>
      <td><%= cost.detail.name %></td>
      <td><%= link_to cost.price, cost %></td>
    </tr>
  </tbody>
  <% end %>
</table>